.fredoka-texting {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 560;
    font-style: normal;
    font-variation-settings:"wdth" 112.5;
}

.pig{
    background: red;
}